<!doctype html>
<html lang="en">
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% translate "Task Manager" %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate "Task Manager" %}</a>
        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">{% translate "Users" %}</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statuses' %}">{% translate "Statuses" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'labels' %}">{% translate "Labels" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks' %}">{% translate "Tasks" %}</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            {% translate "Sign out" as logout_button %}
                            {% bootstrap_button button_type="submit" content=logout_button button_class="nav-link" %}
                        </form>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% translate "Sign in" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users_create' %}">{% translate "Sign up" %}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <div class="container wrapper flex-grow-1">
        {% include "messages.html" %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>